.Form {
 
  margin: auto;
  margin-top: 50px;
 
}
/* 
.Form {
  width: 600px;
 background: antiquewhite; 
 padding: 50px;
 border: 1px solid #9d9d8e;
*/
.form-label {
  color: black; /*#f6ff67;*/
  font-weight: bold
}

.profile-line {
  background-color: #44708f;
  width: 90%;
  height: 3px;
  margin: auto;
  margin-bottom: 10px
}

.input-label {
width: 90%;
margin: auto;
color: rgb(157, 157, 157);
}

.profile-label {
  text-align: center;
  font-size: 30px;
  color: black; /* #f6ff67;*/
  margin: 3%;
  margin-top: 30px;
}