.link {
  text-decoration: none;
  color: #9d9d9d;
}

.link:hover {
  text-decoration: none;
  color: white;
}



.navbar-nav span[role=button] {
  padding-left: 50px;
  display: inline-block;
  line-height: 20px;
  background-color: aqua;
}

/* .riheader{background-color: aqua;}*/