.linkc {
  text-decoration: none;
  color: #9d9d9d;
}

.linkc:hover {
  text-decoration: none;
  color: white;
}
.riheader{background-color: aqua;}


.navbar-nav span[role=button] {
  padding-left: 50px;
  display: inline-block;
  line-height: 20px;
}

