.span{
  color: #987D00; 
}
.link {
  text-decoration: none;
  color: black; 
  list-style-type: none; 
  overflow: hidden;  
  display: inline;
}
.link:hover {
  text-decoration: none;
  color: #987D00;
}
.navbar-nav span[role=button] {
  padding-left: 100px; 
  line-height: 20px; 
}

