/*used:
className="profile"
className="show-grid"
className="profile-line">
className="home-title"
*/
.filter_msg{margin-left:50px;}
.title-line {
  width:100%;
  text-align: center; }
.title-line p{
    width:100%;
    text-align: center;
  }
span{ 
  background-color: white;
  font-size: 24px; 
  font-weight: bold;
  color:#44708f;}

.myForm{ 
width: 80%;
margin-left: 10%;
background-color: white;
border: 1px #F9F9F9 solid;
  border-radius: 5px;
  
}

.profile {
  background-color: white;
  width:80.7%;
  margin: auto; 
}
.show-grid {  
  width:100%;  
  margin: auto 0;
}

  .profile-line {
    background-color: #44708f;
    width:80.7%;
    height: 1px;    
    margin-bottom: 1px;
    margin-top: 1px
}

.left-col {
  background:  blue;   
  width: 25%;
  border: 1px #F9F9F9 solid;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-left-radius: 1px;
}




  /*
  
  */