
.nc-all{
  padding: 10px;
  text-align: center;
overflow: auto;
/*white-space: nowrap;*/
color: black;
}
.book-all {
  background: #FAFAFA; /*antiquewhite;*/
  width: 13.5%;
  float: left;
  margin-left: 10px;
  border: 5px solid  #987D00;
  margin-bottom: 20px;
}

.img-all {
  width: 100%;
  max-height: 200px;
  min-height: 200px;
}

.bookname-all {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  overflow: auto;
  white-space: nowrap;
  color: black;
}

.nickname-all {
  padding: 10px;
  text-align: center;
  color:black;
  overflow: auto;
}

.nickname-all:hover {
  cursor: help;
}

.exchange-btn-all {
  color: white; /*#987D00; */
  width: 100%;
  background: #231F20; /*black;*/
  padding: 5px;
  text-align: center;
}

.exchange-btn-all:hover {
  color: #231F20 ;/* black;*/
  width: 100%;
  background:  white; ; /*yellow;*/
  font-weight: bold;
  cursor: pointer;
}