


.table-row-line {  
 border-bottom: 1px solid #9d9d8e;  
  margin-top: 0;
  margin-bottom: 0; 
   
}
.pn-small{font-size: small;
color:blue}
/* 
 font-size: small;
  backgroung-color: pink;
.Form {
  width: 600px;
 background: antiquewhite; 
 padding: 50px;
 border: 1px solid #9d9d8e;
*/
/*


.input-row {
  padding: 50px;
 border: 1px solid #9d9d8e;  
  margin-top: 0;
  margin-bottom: 0;
  height: 1px;
background-color: azure;
padding: 0%;
}
.profile-label {
  text-align: center;
  font-size: 30px;
  color: black; 
  margin: 3%;
  margin-top: 30px;
}

.profile-label {
  text-align: center;
  font-size: 30px;
  color: black; 
  margin: 3%;
  margin-top: 30px;
}

.input-label {
width: 90%;
margin: auto;
color: rgb(157, 157, 157);
}



*/