/* .navbar-navb span[role=button] {
  color:red;
  padding: 15px;
  display: inline-block;
  line-height: 40px;
   
  }



.navbar-nav {
  color:red;
  padding: 15px;
  display: inline-block;
  line-height: 20px;
  background-color: antiquewhite;
}


*/